body {
    background-color: paleturquoise;
  }

  button {
    width: 400px;
    height: 120px;
    border: 10px outset #53c2be;
  }
  button#inputbutton{
    width: 100px;
    height: 100px;

  }
  
  div#nicknames{
    text-align: center;
  }
  .title {
    text-align: center;
    position: relative;
    margin: 15%;
  }

  .topButtons {
    text-align: center;
    position: relative;
    margin-top: 10%;
  }

  .buttonOption {
    position: relative;
    margin-top: 15%;
  }