body {
  display: flex;
  flex-flow: column;
  min-height: 80vh;
  border: 1px solid red;
  background-color: paleturquoise;
}
main {
  flex-flow: column;
  border: 1px solid blue;
  flex: 1;
}
footer {
  border: 3px solid purple;
}
button{
  border: 10px outset #53c2be;
}
button.choice {
  padding: 5%;
  width: 50%;
  height: 10vh;
  min-height: 4em;
  margin-bottom: 0%;
}
button#exit {
  width: 10em;
  height: 4em;
}
button#submitButton {
  width: 100%;
  height: 10vh;
  min-height: 4em;
}
div#choicesContainer {
  text-align: left;
  border: 2px solid green;
  margin-top: 30%;
}
div#submitButtonContainer {
  border: 2px solid #444;
  text-align: center;
}
div#exitContainer {
  position: absolute;
  border: 2px solid #444;
}
