
@charset "utf-8";

body {
    background-color: lightcyan;
}
.page_title {
    margin-top: 20%;
    text-align: center;
}
.text {
    margin: 20%;
    text-align: center;
}
button {
    width: 200px;
    height: 120px;
    border: 10px outset #53c2be;
}
.result_button {
    margin-top: auto;
    text-align: center;
    display: flex;
}
.button_item {
    margin: auto;
}