@charset "UTF-8";

* {
  margin: 0;    
}
input,
button,
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    font: inherit;
    outline: none;
    padding: 0;
    appearance: none;
}


:root {
    --bg-color: #E8EBF1;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: var(--bg-color);
}

#top-wrap {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 40px minmax(300px, 414px) 40px;
    grid-template-rows: 
        [head] 78px
        [title] auto
        [padd] 140px
        [main] auto
        [name] auto
        [foot] 100px
    ;
}

#top-wrap > * {
  grid-column: 2 / -2;
}

#top-head {
  grid-row: head;
}
#top-title {
    grid-row: title;
    justify-self: center;
    align-self: center;
    text-align: center;
}
#top-padd {
  grid-row: padd;
}
#top-main {
    grid-row: main;
}
#top-main-container {
    display: grid;
    grid-template-columns: minmax(197px, auto) minmax(98px, auto);
    grid-template-rows: minmax(98px, auto) minmax(98px, auto);
}

#top-play {
    grid-row: 1 / 4;
}
#top-play > button {
    width: 197px;
    height: 197px;
}
#top-rank {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: right;
}
#top-rank > button {
    width: 80px;
    height: 80px;
}
#top-config {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: right;
    margin-top: auto;
}
#top-config > button {
    width: 80px;
    height: 80px;
}

#top-name {
    grid-row: name;
    margin-top: 60px;
}

#top-name > input {
    height: 62px;
    margin-left: 1rem;
    font-weight: 900;
}

#top-foot {
  grid-row: foot;
}

#top-title > h1 {
    padding: 23px;
}


.button_unclick {
    background: linear-gradient(132.47deg, #E8EBF1 18.08%, rgba(232, 241, 248, 0) 106.64%);
    box-shadow: 10px 10px 20px #A3B1C6, -10px -10px 20px #FFFFFF, inset -10px -10px 19px rgba(163, 177, 198, 0.25), inset 10px 10px 12px rgba(255, 255, 255, 0.25);
    border-radius: 13px;
}
.input_shadow {
    background: linear-gradient(150.8deg, #E8EBF1 5.84%, rgba(232, 241, 248, 0) 147.58%);
    box-shadow: inset -10px -10px 26px rgba(255, 255, 255, 0.5), inset 10px 10px 10px rgba(163, 177, 198, 0.5);
    border-radius: 13px;
}

.play_gradient {
    background: linear-gradient(139.39deg, #F83600 2.98%, #F9D423 93.72%);
}


/* main */

#main-wrap {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 40px minmax(300px, 414px) 40px;
    grid-template-rows: 
        5rem
        176px
        auto
        104px
    ;
}

#main-wrap > * {
    grid-column: 2 / -2;
}

#main-header {
    grid-row: 1/2;
}
.main-exit {
    width: 68px;
    height: 2.5rem;
    margin-top: 1rem;
}
#main-statement {
    grid-row: 2/3;
}

.outer-statement {
    width: 100%;
    justify-content: center;
    align-content: center;
}
.inner-statement {
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    margin: 0.5rem;
}

.main-statement-text {
    padding: 1rem;

}

.main-choices {
    grid-row: 3/4;
    margin-top: 2rem;
}
.main-choice-button {
    height: 5rem;
    width: 100%;
    margin-bottom: 1rem;
}
.main-choice-button:focus {
    background: linear-gradient(150.8deg, #E8EBF1 5.84%, rgba(232, 241, 248, 0) 147.58%);
    box-shadow: inset -10px -10px 26px rgba(255, 255, 255, 0.5), inset 10px 10px 10px rgba(163, 177, 198, 0.5);
    border-radius: 13px;
}
#submitButtonContainer {
    grid-row: 4/5;
}
.main-submit-button {
    height: 6rem;
    width: 100%;
    margin-top: 2rem;
}

#answerContainer {
    margin-top: 2rem;
}

.correct-incorrect {
    width: 136px;
    height: 54px;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
}

#answer {
    margin: 1rem;
}
#explanation-head {
    margin: 1rem;
    text-align: center;
    width: 136px;
}
#explanation {
    margin: 1rem;
    overflow-y: scroll;
}

.outer-shadow {
    background: linear-gradient(132.47deg, #E8EBF1 18.08%, rgba(232, 241, 248, 0) 106.64%);
    box-shadow: 10px 10px 20px #A3B1C6, -10px -10px 20px #FFFFFF;
    border-radius: 29px;
}
.inner-shadow {
    background: linear-gradient(132.47deg, #E8EBF1 18.08%, rgba(232, 241, 248, 0) 106.64%);
    box-shadow: inset 10px 10px 20px #A3B1C6, inset -10px -10px 20px #FFFFFF;
    border-radius: 21px;
}

#result-wrap {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 40px minmax(300px, 414px) 40px;
    grid-template-rows: 
        176px
        minmax(20rem, auto)
        auto
        104px
    ;
}

#result-wrap > * {
    grid-column: 2 / -2;
}

#result-header {
    grid-row: 1 / 2;
}

#answersListContainer {
    grid-row: 2 / 3;
}
/* 
.answerContainer {
    display: grid;
    grid-template-columns: 1fr 54px;
    grid-template-rows: repeat(54px);
    grid-gap: 20px;
}
.answerContainer > .statement {
    height: 54px;
    margin-top: 20px;
}
.answerContainer > .correct {
    height: 54px;
    margin-top: 20px;
} */


#continueButtonsContainer {
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
