body {
    background-color: lightcyan;
  }

  button {
    width: 400px;
    height: 120px;
  }

  .title {
    text-align: center;
    position: relative;
    margin: 15%;
  }

  .topButtons {
    text-align: center;
    position: relative;
    margin-top: 30%;
  }

  .buttonOption {
    position: relative;
    margin: 20%;
  }